@import url(Global-Style.css);

.nav__header {
    margin: 0;
    display: flex;
    width: 100%;
    padding: 10px 16px;
    position: fixed;
    top: 0;
    background: black;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.nav__header-transparent {
    background: rgba(0, 0, 0, .2);
}

.header__nav-image {
    height: 27px;
}

.nav__item-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: .75rem;
    font-weight: 700;
}

.nav__btn-singin {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
}

.nav__btn-signature {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    background-color: rgb(198, 0, 255);
    padding: 6px;
    border-radius: 50rem;
}


.header__container {
    margin-top: 3.2rem;
    position: relative;
    background: linear-gradient(-50deg, #56125b, #0f0f10, #271e6e);
    background-size: 450% 450%;
    padding: 100px 0 300px;
    animation: header-back-ground 8s ease infinite alternate;
}

.header__container::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

@keyframes header-back-ground {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}


.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__content-item {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

@media screen and (max-width:500px) {
    .header__content-item {
        gap: 0px;
        flex-wrap: nowrap;
    }
}

.img-chanel {
    object-fit: contain;
}

.header__content-text {
    color: var(--text-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.header__content-text h1,
h4 {
    margin: 0;
    padding: 0;
}

.header-diviser {
    background: linear-gradient(-45deg, #56125b, #271e6e);
    width: 30%;
    height: 4px;
    border: none;
    animation: header-back-ground 2s ease infinite alternate;
    box-shadow: 0px 0px 0.3px 0.4px white;
}

.header__content-price {
    margin-top: 16px;
    color: var(--text-color);
    font-size: 1.3rem;
    text-align: center;
    font-weight: 700;
}

.header__content-price p {
    margin: 0;
}



.header-button {
    margin-top: 16px;
    padding: 16px 36px;
    background-color: var(--tertiary-color);
    border-radius: 2rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    border: none;
    cursor: pointer;
    animation: wiggle 2.2s linear infinite;
}

.header-button.button--gradient {
    background: var(--btn-bg-color-gradient);
    outline: 3px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
    background-size: 250%;
}

.header-button.button--gradient:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}

.header-text-footer {
    margin-top: 20px;
    color: var(--text-color);
    width: 250px;
    text-align: center;
    font-size: .8rem;
}

.main-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    margin-bottom: 50px;
    scroll-margin-top: 8rem;
}

.main-container::after {
    content: "";
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);

}

.content-title {
    display: flex;
    justify-content: center;
}

.main-title {
    width: 70%;
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}


@keyframes wiggle {
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    35% {
        transform: rotate(-10deg);
    }

    40%,
    100% {
        transform: rotate(0);
    }
}

.main__plans {
    margin-bottom: 30px;
    background: url("../Images/background-movies-series.png") no-repeat opacity;
    background-size: cover;
    background-position: center right;
    position: relative;
}

.main__plans::after {
    content: "";
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.main__plan-container {
    display: flex;
    gap: 60px;
    margin: 40px 0;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
    perspective-origin: top;
}

.plan__card-content {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    min-height: 550px;
    width: 400px;
    padding: 30px 50px;
    background: var(--card-bg-color);
    transition: transform 1s ease-in-out;
}

.main__plan-container:has(.plan__card-content:nth-child(1):hover) .plan__card-content:nth-child(2) {
    transform: rotateY(-45deg);
}

.main__plan-container:has(.plan__card-content:nth-child(2):hover) .plan__card-content:nth-child(1) {
    transform: rotateY(45deg);
}

.plan__title-item {
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-between;
    box-sizing: border-box;
}

.plan-descriptions {
    flex: 1;
}

.plan-title {
    color: var(--text-color);
}

.plan-price {
    font-family: "Raleway", sans-serif;
    color: var(--text-color);
}

.plan-description {
    color: var(--text-color);
    list-style: none;
    text-align: left;
    font-size: 0.8rem;
}

.plan-description::marker {
    content: "+";
    color: var(--text-color);
    font-size: 2rem;
    margin-left: 8px;

}

.plan-button {
    font-size: .5rem;
    margin: 0;
    padding: 16px;
    text-align: center;

}

.main__cards {    
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 400px);
    gap: 26px;
    padding: 26px;   
}

@media screen and (max-width:861px) {
    .main__cards {      
        grid-template-columns: repeat(6, 250px);
        grid-template-rows: repeat(1,400px);
        justify-content: flex-start;
        overflow: auto hidden;
        
    }
    ::-webkit-scrollbar {
        width: 20px;
      }
    ::-webkit-scrollbar-thumb {
        background: var(--secondary-color); 
        border-radius: 10px;
      }
}
@media (pointer: coarse) {
    .main-card:hover {
      transform: none;
    }
}
.main-card {
    display: flex;   
    border-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 1s, background 1s, border 2s;
    flex: 1;
}

.main-card:hover {
    border: 1px solid var(--secondary-color);
    transform: scale(1.08);
}

.card-hbomax {
    background-image: url(../Images/hbo-default_0.webp);
}

.card-hbomax:hover {
    background-image: url(../Images/hbo-hover_0.webp);
}

.card-max-original {
    background-image: url(../Images/MAX-Default.webp);
}

.card-max-original:hover {
    background-image: url(../Images/MAX-Hover.webp);
}

.card-dc {
    background-image: url(../Images/DC_Default.webp);
}

.card-dc:hover {
    background-image: url(../Images/DC-Hover.webp);
}

.card-wb {
    background-image: url(../Images/WB-Default.webp);
}

.card-wb:hover {
    background-image: url(../Images/WB-Hover.webp);
}

.card-cn {
    background-image: url(../Images/CN-Default.webp);
}

.card-cn:hover {
    background-image: url(../Images/CN-Hover.png);
}

.card-champions {
    background-image: url(../Images/UCL-Default.webp);
}

.card-champions:hover {
    background-image: url(../Images/UCL-Hover.webp);
}

footer {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    margin-top: 50px;
}

.footer__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 0;
    margin-bottom: 0;

}

.footer-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--link-color);
}

.footer-link:hover {
    color: white;
    filter: brightness(3);
}

.footer-copy-info {
    margin: 0;
    padding: 0;
    color: var(--link-color);
    margin-bottom: 26px;
    text-align: center;
}

.footer-social-medias {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-social-media:hover {
    filter: brightness(1.5);
}

@media screen and (max-width:500px) {
    .footer__links{        
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
}